.header1 {
    height: 70px;
    background-color: #29bde0;
}

.menu {
    position: relative;
    top: 27px;
    left: 20px;
    width: 30px;
    height: 30px;
    background: url(images/css_sprites.png)-65px -8px;
    background-repeat: no-repeat;
    background-size: 450%;
}

.little {
    width: 45px;
    margin: 0 auto;
    font-size: 160%;
    color: #fff;
    font-weight: 200;

}

.menu2 {
    float: right;
    position: relative;
    top: -25px;
    left: -10px;
    width: 30px;
    height: 30px;
    background: url(images/css_sprites.png)-8px -60px;
    background-repeat: no-repeat;
    background-size: 450%;

}

.header2 {

    white-space: nowrap;
    height: 70px;
    background-color: #b9e9f5;
}

audio {
    position: relative;
    top: -30px;
    left: 70px;
    width: 100px;
    height: 40px;
    opacity: 0;
    float: right;
    transform: rotate(90deg);
}

.text {
    padding-left: 20px;
    font-size: 115%;
    font-weight: 540;
    line-height: 70px;
}

.triangle {
    position: relative;
    left: 40px;
    width: 0;
    height: 0;
    border-top: 10px solid #b9e9f5;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    z-index: 9;
}

.main {
    width: 100%;
    position: absolute;
    top: 190px;
    bottom: 120px;
    background-color: #29bde0;
    overflow: auto;
}

.text2 {
    position: fixed;
    width: 100vw;
    height: 50px;
    font-size: 110%;
    font-weight: 400;
    color: white;
    padding: 20px 0 10px 40px;
    background: #29bde0;
    z-index: 3;
}

.content {
    width: 22vw;
    height: 22vw;
    background-color: white;
}

.main1 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10vw;
}

.content1 {
    background-color: #f5c97b;
    text-align: center;
    line-height: 17vw;
    height: 16vw;
    width: 20vw;
    font-size: 120%;
}

.content2 {
    width: 20vw;
    height: 4vw;
    background-color: #83b09a;
    color: #fff;
    font-size: 90%;
    text-align: center;
    line-height: 4vw;
}

.content3 {
    padding-top: 1vw;
    width: 20vw;
    height: 20vw;
    margin: 0 auto;
}

.list {
    display: flex;
    justify-content: space-around;
}

.list5 {
    width: 22vw;
    margin-top: 3vw;
    display: flex;
    justify-content: space-between;
    display: none;
}

.list1 {
    width: 4vw;
    height: 4vw;

}

.list2 {
    width: 17%;
}

.list3 {
    width: 17%;
}

.list4 {
    width: 17%;
}

.content:hover .list5 {
    display: flex;
}

.footer {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 120px;
    background-color: #29bde0;
    width: 100%;
}

.choose {
    display: inline-block;
    position: relative;
    top: 30px;
    width: 200px;
    height: 50px;
    background-color: #fbb435;
    margin: 0 auto;
    padding-top: 12px;
    text-align: center;
    font-size: 150%;
    color: #fff;

}

.footer a:hover {
    color: #fff;
    text-decoration: none;
}

.pic {
    position: relative;
    top: -60px;
    width: 45px;
    height: 40px;
    float: right;
}

