* {
    margin: 0%;
}

@mixin nav-font {
    position: absolute;
    top: 0px;
    display: inline-block;
    width: 100px;
    height: 94px;
    background: #29b078;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    line-height: 94px;
}

@mixin shejiao-size {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
}

.m-contact {
    display: flex;
    justify-content: space-between;
    height: 39px;
    position: relative;

    .phone {
        position: absolute;
        left: 20px;
        top: 6px;
        color: #29b078;
        font-size: 14px;
        width: 165px;
        white-space: nowrap;
    }

    .contact {
        width: 120px;
        height: 30px;
        position: absolute;
        top: 4px;
        right: 5px;
    }

    .wechat {
        @include shejiao-size();
        background: url(images/加入我们.png) -5px -55px;
    }

    .qq {
        @include shejiao-size();
        background: url(images/加入我们.png) -5px -10px;
    }

    .weibo {
        @include shejiao-size();
        background: url(images/加入我们.png) -50px -10px;
    }
}

.m-nav {
    position: relative;
    height: 99px;
    background: #29b078;

    img {
        position: absolute;
        top: 30px;
        left: 50px;
    }

    .m-logo {
        width: 107px;
        height: 48px;
    }

    .sy {
        @include nav-font();
        right: calc(5% + 300px);
    }

    .zy {
        @include nav-font();
        right: calc(5% + 200px);
    }

    .tj {
        @include nav-font();
        right: calc(5% + 100px);
    }

    .gy {
        @include nav-font();
        right: 5%;
    }

    .sy:hover {
        border-bottom: 5px solid #fff;
    }

    .zy:hover {
        border-bottom: 5px solid #fff;
    }

    .tj:hover {
        border-bottom: 5px solid #fff;
    }

    .gy:hover {
        border-bottom: 5px solid #fff;
    }

    .btn-sty {
        position: absolute;
        top: 20px;
        right: 30px;
        display: none;
        width: 40px;
        height: 50px;
        border-radius: 3px;
        background: #36d37d;

        .btn-sty-a,
        .btn-sty-b,
        .btn-sty-c {
            width: 25px;
            height: 4px;
            background: #88888e;
            margin: 10px 7.5px 0 7.5px;
        }
    }

    .btn-sty:hover {
        background: #008042;
    }
}

@media(max-width:700px) {
    .subnav {
        display: none;
    }

    .m-nav .btn-sty {
        display: block;
    }
}

input {
    display: none;
}

#btn:checked~.m-dropdown {
    height: 240px;
}

.m-dropdown {
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 1s;

    .m-dropdown-a,
    .m-dropdown-b,
    .m-dropdown-c,
    .m-dropdown-d {
        display: block;
        height: 60px;
        text-align: center;
        color: #fff;
        background: #29b078;
        text-decoration: none;
        line-height: 60px;
    }

    .m-dropdown-a:hover {
        background: #36d37d;
    }

    .m-dropdown-b:hover {
        background: #36d37d;
    }

    .m-dropdown-c:hover {
        background: #36d37d;
    }

    .m-dropdown-d:hover {
        background: #36d37d;
    }
}
