@charset "UTF-8";
* {
  margin: 0%;
}

.m-contact {
  display: flex;
  justify-content: space-between;
  height: 39px;
  position: relative;
}

.m-contact .phone {
  position: absolute;
  left: 20px;
  top: 6px;
  color: #29b078;
  font-size: 14px;
  width: 165px;
  white-space: nowrap;
}

.m-contact .contact {
  width: 120px;
  height: 30px;
  position: absolute;
  top: 4px;
  right: 5px;
}

.m-contact .wechat {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background: url(images/加入我们.png) -5px -55px;
}

.m-contact .qq {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background: url(images/加入我们.png) -5px -10px;
}

.m-contact .weibo {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background: url(images/加入我们.png) -50px -10px;
}

.m-nav {
  position: relative;
  height: 99px;
  background: #29b078;
}

.m-nav img {
  position: absolute;
  top: 30px;
  left: 50px;
}

.m-nav .m-logo {
  width: 107px;
  height: 48px;
}

.m-nav .sy {
  position: absolute;
  top: 0px;
  display: inline-block;
  width: 100px;
  height: 94px;
  background: #29b078;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  line-height: 94px;
  right: calc(5% + 300px);
}

.m-nav .zy {
  position: absolute;
  top: 0px;
  display: inline-block;
  width: 100px;
  height: 94px;
  background: #29b078;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  line-height: 94px;
  right: calc(5% + 200px);
}

.m-nav .tj {
  position: absolute;
  top: 0px;
  display: inline-block;
  width: 100px;
  height: 94px;
  background: #29b078;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  line-height: 94px;
  right: calc(5% + 100px);
}

.m-nav .gy {
  position: absolute;
  top: 0px;
  display: inline-block;
  width: 100px;
  height: 94px;
  background: #29b078;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  line-height: 94px;
  right: 5%;
}

.m-nav .sy:hover {
  border-bottom: 5px solid #fff;
}

.m-nav .zy:hover {
  border-bottom: 5px solid #fff;
}

.m-nav .tj:hover {
  border-bottom: 5px solid #fff;
}

.m-nav .gy:hover {
  border-bottom: 5px solid #fff;
}

.m-nav .btn-sty {
  position: absolute;
  top: 20px;
  right: 30px;
  display: none;
  width: 40px;
  height: 50px;
  border-radius: 3px;
  background: #36d37d;
}

.m-nav .btn-sty .btn-sty-a,
.m-nav .btn-sty .btn-sty-b,
.m-nav .btn-sty .btn-sty-c {
  width: 25px;
  height: 4px;
  background: #88888e;
  margin: 10px 7.5px 0 7.5px;
}

.m-nav .btn-sty:hover {
  background: #008042;
}

@media (max-width: 700px) {
  .subnav {
    display: none;
  }
  .m-nav .btn-sty {
    display: block;
  }
}

input {
  display: none;
}

#btn:checked ~ .m-dropdown {
  height: 240px;
}

.m-dropdown {
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: height 1s;
}

.m-dropdown .m-dropdown-a,
.m-dropdown .m-dropdown-b,
.m-dropdown .m-dropdown-c,
.m-dropdown .m-dropdown-d {
  display: block;
  height: 60px;
  text-align: center;
  color: #fff;
  background: #29b078;
  text-decoration: none;
  line-height: 60px;
}

.m-dropdown .m-dropdown-a:hover {
  background: #36d37d;
}

.m-dropdown .m-dropdown-b:hover {
  background: #36d37d;
}

.m-dropdown .m-dropdown-c:hover {
  background: #36d37d;
}

.m-dropdown .m-dropdown-d:hover {
  background: #36d37d;
}

.footer {
  background: #26a26f;
  color: #fff;
  font-size: 90%;
  font-weight: 50;
}

.dibu {
  display: flex;
  justify-content: space-around;
}

.di1, .di2, .di3 {
  margin: 0 auto;
}

.zongzhi {
  margin-top: 20px;
}

.contact {
  width: 230px;
}

.di2 {
  width: 190px;
}

.di3 {
  margin-top: 20px;
}

.chao {
  width: 190px;
  padding-top: 15px;
}

.contact2 {
  width: 230px;
  height: 30px;
  position: relative;
  top: 4px;
  left: 20px;
  white-space: nowrap;
}

.gszh {
  font-size: small;
  text-align: right;
}

@media (max-width: 992px) {
  .youqing > ul {
    display: block;
    padding-left: 45%;
    font-size: 130%;
  }
  .dibu {
    flex-direction: column;
  }
  .di1,
  .di2,
  .di3 {
    margin: 0 auto;
  }
  .di3 {
    margin-top: 20px;
  }
  .di1 {
    position: relative;
    left: 20px;
  }
}

html {
  width: 100%;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}

.m-baner {
  width: 100%;
}

.m-back {
  position: relative;
  left: 13%;
  top: 20px;
  font-size: 110%;
}

.m-back .tou {
  color: #3fb582;
}

.text-hz {
  border: 1px solid #e6e6e6;
  background: white;
  padding: 0;
  margin-left: 100px;
  margin-top: 45px;
  width: 300px;
  height: 800px;
}

.text-zong {
  display: flex;
  overflow: auto;
  font-size: 90%;
}

.hzqy {
  font-size: 120%;
  font-weight: 600;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 1px solid #e6e6e6;
}

.bq {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #ff650e;
  position: relative;
  top: 5px;
  left: -10px;
}

.hezuo {
  display: flex;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 110%;
  position: relative;
  left: 40%;
  color: #3fb582;
}

.text-js {
  border: 1px solid #e6e6e6;
  background: white;
  padding: 0;
  margin-top: 45px;
  margin-left: 70px;
  margin-bottom: 40px;
  width: 850px;
}

.text-pic {
  display: flex;
}

.text-baner {
  padding-bottom: 30px;
  padding-top: 30px;
}

.text_td {
  padding-top: 30px;
  font-size: 110%;
  line-height: 25px;
  color: #999999;
  padding-left: 40px;
  padding-right: 40px;
  border-top: 1px solid #e6e6e6;
  text-align: justify;
  text-justify: inter-ideograph;
  margin-bottom: 50px;
}

.text_td1 {
  width: 900px;
  font-size: 110%;
  line-height: 25px;
  color: #999999;
  padding-top: 60px;
  padding-right: 40px;
  text-align: justify;
  text-justify: inter-ideograph;
}

@media (max-width: 1300px) {
  .text-zong {
    display: block;
  }
  .text-hz {
    width: 80%;
    margin-left: 10%;
  }
  .hezuo {
    justify-content: center;
    width: 200px;
    margin: 0 auto;
    left: 0;
  }
  .text-js {
    width: 80%;
    margin-left: 10%;
  }
}

@media (max-width: 776px) {
  .text-pic {
    display: block;
  }
  .text-pic > img {
    display: flex;
    margin: 0 auto;
  }
  .text_td1 {
    width: auto;
    padding-left: 40px;
    padding-bottom: 30px;
  }
}
