html {
  width: 100%;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}

.m-baner {
  width: 100%;
}

.m-back {
  position: relative;
  left: 13%;
  top: 20px;
  font-size: 110%;
}

.m-back .tou {
  color: #3fb582;
}

.text-hz {
  border: 1px solid #e6e6e6;
  background: white;
  padding: 0;
  margin-left: 100px;
  margin-top: 45px;
  width: 300px;
  height: 800px;
}

.text-zong {
  display: flex;
  overflow: auto;
  font-size: 90%;
}

.hzqy {
  font-size: 120%;
  font-weight: 600;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 1px solid #e6e6e6;
}

.bq {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #ff650e;
  position: relative;
  top: 5px;
  left: -10px;
}

.hezuo {
  display: flex;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 110%;
  position: relative;
  left: 40%;
  color: #3fb582;
}

.text-js {
  border: 1px solid #e6e6e6;
  background: white;
  padding: 0;
  margin-top: 45px;
  margin-left: 70px;
  margin-bottom: 40px;
  width: 850px;
}

.text-pic {
  display: flex;
}

.text-baner {
  padding-bottom: 30px;
  padding-top: 30px;
}

.text_td {
  padding-top: 30px;
  font-size: 110%;
  line-height: 25px;
  color: #999999;
  padding-left: 40px;
  padding-right: 40px;
  border-top: 1px solid #e6e6e6;
  text-align: justify;
  text-justify: inter-ideograph;
  margin-bottom: 50px;
}

.text_td1 {
  width: 900px;
  font-size: 110%;
  line-height: 25px;
  color: #999999;
  padding-top: 60px;
  padding-right: 40px;
  text-align: justify;
  text-justify: inter-ideograph;
}

@media (max-width: 1300px) {
  .text-zong {
    display: block;
  }
  .text-hz {
    width: 80%;
    margin-left: 10%;
  }
  .hezuo {
    justify-content: center;
    width: 200px;
    margin: 0 auto;
    left: 0;
  }
  .text-js {
    width: 80%;
    margin-left: 10%;
  }
}

@media (max-width: 776px) {
  .text-pic {
    display: block;
  }
  .text-pic > img {
    display: flex;
    margin: 0 auto;
  }
  .text_td1 {
    width: auto;
    padding-left: 40px;
    padding-bottom: 30px;
  }
}
