#container {
    width: 100vw;
    overflow: hidden;
    position: relative;
}

#photo {
    width: 400vw;
    animation: switch 10s ease-out infinite;
}

.circle-lunbo {
    position: absolute;
    top: 28vw;
    left: 46vw;
    width: 5vw;
    display: flex;
    justify-content: space-around;

}

.circle1 {
    width: 0.8vw;
    height: 0.8vw;
    border-radius: 50%;
    border: 1px solid gray;
    animation: change 10s ease-out infinite;
}

.circle2 {
    width: 0.8vw;
    height: 0.8vw;
    border-radius: 50%;
    border: 1px solid gray;
    animation: change2 10s ease-out infinite;
}

.circle3 {
    width: 0.8vw;
    height: 0.8vw;
    border-radius: 50%;
    border: 1px solid gray;
    animation: change3 10s ease-out infinite;
}

#photo>img {
    float: left;
    width: 100vw;
}

@keyframes change {

    0%,
    30% {
        background: gray;
    }

    32%,
    62% {
        background: rgba($color: #000000, $alpha: 0);
    }

    64%,
    94% {
        background: rgba($color: #000000, $alpha: 0);
    }

    96%,
    100% {
        background: gray;
    }

}

@keyframes change2 {

    0%,
    30% {
        background: rgba($color: #000000, $alpha: 0);

    }

    32%,
    62% {
        background: gray;
    }

    64%,
    94% {
        background: rgba($color: #000000, $alpha: 0);
    }

    96%,
    100% {
        background: rgba($color: #000000, $alpha: 0);
    }
}

@keyframes change3 {

    0%,
    30% {
        background: rgba($color: #000000, $alpha: 0);

    }

    32%,
    62% {
        background: rgba($color: #000000, $alpha: 0);

    }

    64%,
    94% {
        background: gray;
    }

    96%,
    100% {
        background: rgba($color: #000000, $alpha: 0);
    }
}

@keyframes switch {

    0%,
    30% {
        margin-left: 0;
    }

    32%,
    62% {
        margin-left: -100vw;
    }

    64%,
    94% {
        margin-left: -200vw;
    }

    96%,
    100% {
        margin-left: -300vw;
    }

}


.m-introduce {
    margin-top: 160px;
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: center;

    .m-introduce-text1 {
        width: 25%;

        .gx {
            padding-top: 20px;
            width: 38px;
            margin: 0 auto;
            font-size: 110%;
            font-weight: 600;
        }

        .hj {
            display: block;
            width: 43px;
            height: 64px;
            margin: 0 auto;
        }

        .sj {
            width: 80%;
            margin: 0 auto;
            padding-top: 20px;
            font-size: 90%;
            color: #999999;
        }
    }

    .m-introduce-text2 {
        width: 25%;

        .sb {
            display: block;
            width: 61px;
            height: 53px;
            margin: 0 auto;
        }

        .gf {
            padding-top: 30px;
            width: 38px;
            margin: 0 auto;
            font-size: 110%;
            font-weight: 600;
        }

        .bz {
            width: 80%;
            margin: 0 auto;
            padding-top: 20px;
            font-size: 90%;
            color: #999999;
        }
    }

    .m-introduce-text3 {
        width: 25%;

        .ren {
            display: block;
            width: 52px;
            height: 55px;
            margin: 0 auto;
        }

        .rm {
            padding-top: 30px;
            width: 38px;
            margin: 0 auto;
            font-size: 110%;
            font-weight: 600;
        }

        .hy {
            width: 80%;
            margin: 0 auto;
            padding-top: 20px;
            font-size: 90%;
            color: #999999;
        }
    }

    .m-introduce-text4 {
        position: relative;
        width: 25%;
        border-left: 1px dashed #dedede;

        .text4-post {
            position: absolute;
            top: 50px;
            left: 65px;

            .zttt {
                color: #26a26f;
                padding-bottom: 10px;
            }

            .ljrs {
                color: #999;
                position: relative;
                left: -20px;
                padding-bottom: 15px;
            }
        }
    }
}
@media (max-width:1150px) {
    .m-introduce {
        display: block;
    }
    .m-introduce .m-introduce-text1,.m-introduce .m-introduce-text2,.m-introduce .m-introduce-text3 {
        padding-bottom: 30px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .m-introduce .m-introduce-text4 {
        padding-bottom: 50px;
        width: 190px;
        margin:0 auto;
        border-left: 1px solid white;
    }
    .m-introduce .m-introduce-text4 .text4-post {
        position: unset;
        margin-left: 30px;
    }
 }
 .text4 {
    font-size: 120%;
    font-weight: 550;
    text-align: center;
    margin: 70px 0 30px 0px;
}
.howstudy-top {
    display: flex;
    justify-content: center;
    position: relative;
    left: 50px;
}

.howstudy-bottom {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    position: relative;
    left: 50px;
}
.howstudy,
.howstudy3,
.howstudy4 {
    display: flex;
    width: 300px;
    position: relative;
}
.circle {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 1px solid #f1f0f0;
    color: #29b078;
    text-align: center;
    line-height: 55px;
    font-size: 130%;
    position: absolute;
    top: 15px;
    left: -50px;
    background-color: #fff;
}

.arrow1,
.arrow2,
.arrow4,
.arrow5,
.arrow7,
.arrow8 {
    width: 20px;
    height: 20px;
    position: relative;
    top: 30px;
    left: 7px;
}

.arrow3 {
    width: 20px;
    height: 20px;
    position: relative;
    top: 30px;
    left: 35px;
}

.arrow6 {
    width: 20px;
    height: 20px;
    position: relative;
    top: 30px;
    left: 20px;
}
.text2 {
    font-size: 90%;
    color: #999999;
    line-height: 25px;
    padding: 15px 20px;
}
@media (max-width:1200px) {

    .howstudy-top,
    .howstudy-bottom {
        display: block;
    }

    .howstudy,
    .howstudy3,
    .howstudy4 {
        margin: 0 auto;
    }

    .howstudy3,
    .howstudy4 {
        margin-bottom: 18px;
    }

    .arrow5 {
        position: relative;
        left: 20px;
    }

    .arrow4 {
        position: relative;
        left: 45px;
    }

    .arrow1 {
        position: relative;
        left: 25px;
    }

    .arrow2 {
        position: relative;
        left: 8px;
    }

    .arrow3 {
        position: relative;
        left: 45px;
    }

    .arrow7 {
        position: relative;
        left: 20px;
    }

    .arrow8 {
        position: relative;
        left: 45px;
    }
}
.introduce {
    width: 250px;
    height: 380px;
    border: 1px solid #eeeded;
    margin-bottom: 50px;
    background: #fff;
}

.introduce-tol {
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: space-around;

}

.introduce:hover {
    box-shadow: darkgrey 5px 5px 30px 5px;
}
.circle7 {
    width: 120px;
    height: 120px;
    background: url(总人物.png) -10px -138px;
    background-size: 220%;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.circle8 {
    width: 120px;
    height: 120px;
    background: url(总人物.png) -138px -138px;
    background-size: 220%;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.circle4 {
    width: 120px;
    height: 120px;
    background: url(总人物.png) -10px -10px;
    background-size: 220%;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.circle5 {
    width: 120px;
    height: 120px;
    background: url(总人物.png) -138px -10px;
    background-size: 220%;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.text3 {
    font-size: 120%;
    font-weight: 550;
    padding: 5% 21%;
    white-space: nowrap;
    text-align: center;
}
.text2 {
    font-size: 90%;
    color: #999999;
    line-height: 25px;
    padding: 15px 20px;
}
@media (max-width:1350px) {
    .introduce-tol {
        display: block;
    }

    .introduce {
        width: 70%;
        margin-left: 15%;
    }
}
.dian1 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #69d1e9;
}

.dian2 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #f0f0f0;
}

.dian {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70px;
    height: 30px;
    margin: 0 auto;
    padding-top: 30px;
    position: relative;
    top: -38px;
}

.dian2:hover {
    background-color: #69d1e9;
}
.text4 {
    font-size: 120%;
    font-weight: 550;
    text-align: center;
    position: relative;
    top: -30px;
}
.baner {
    display: flex;

    justify-content: center;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
}
.ali {
    width: 200px;
    height: 120px;
    text-align: center;

}

.jinshan {
    width: 200px;
    height: 120px;
    text-align: center;

}

.huanx {
    width: 200px;
    height: 120px;
    text-align: center;

}

.rongl {
    width: 200px;
    height: 120px;
    text-align: center;

}

.qiniu {
    width: 200px;
    height: 120px;
    text-align: center;
}

.baner div:hover {
    border: 1px solid #f4f4f4;
    box-shadow: darkgrey 5px 5px 30px 5px;
}

@media (max-width: 992px) {
    .baner {
        flex-wrap: wrap;
    }
}
.text5 {
    font-size: 120%;
    font-weight: 550;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 15px;
}
.youqing {
    margin: 0 auto;
    width: 80%;
    color: #000;
}
.list {
    display: flex;
    justify-content: space-between;
}
.list a {
    color: #999999;
    text-decoration: none;
}